VAT-Mart/
*.pth
*.gif
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*/*/*/*/*/*/__pycache__
tmp/
dataset/traj_recon_affordance
legacy/*
raw/*
shapes/*
src/checkpoints/*
src/figures/*
src/inference_gifs/*
src/logs/*
src/training_logs/*
*/legacy/*